*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1 {
	font-family: "Anton";
	font-size: 50px;
	color: #DB9900;
}

h2 {
	font-family: "Anton";
	font-size: 30px;
	color: #80A4D4;
}
h3 {
	font-family: "Quicksand";
	font-size: 20px;
	color: #DB9900;
}
h4 {
	font-family: "Anton";
	font-size: 70px;
	color: #395194;
}

p {
	font-family: "Quicksand";
	font-size: 16px;
	color: #80A4D4;
}

.navbar {
	display:flex;
	background-color: #FFD572;
	max-width: 20vw;
	height: 100vh;
	position: fixed;
	left:0;	
}
.navbar li {
	color: #395194;
	padding-top: 40px;
	padding-bottom: 20px;
	padding-right: 40px;
	padding-left: 40px;
	font-size: 2vw;
	font-family: "Anton";

}
.navbar a {
	text-decoration: none;
	color: #395194;
	font-size: 3vw;
	font-family: "Anton";
}
.navbar a:hover {
		color: #DB9900;
}

.logo {
	width: 250px;
	padding-bottom: -200px;
}


.main-content {
  margin-left: 60px;
  padding: 40px;
}


.feed-posting {
	padding-bottom: 20px;
	max-width: 600px;
}

.descriptor{
	text-align: left;
}
.split-section { 
	display: grid; 
	grid-template-columns: 1fr 1fr; 
	min-height: 10px; 
} 
.title-side { 
	padding-right: 10px; 
	display: flex; 
	flex-direction: column; 
	justify-content: center; 
	text-align: left;
} 
.date-side { 
	padding-left: 10px; 
	display: flex; 
	flex-direction: column; 
	justify-content: center; 
	text-align: right;
} 

.text-side {
	padding-right: 70px; 
	display: flex; 
	flex-direction: column; 
	justify-content: center; 
	text-align: right;
}
.messages-side {
	padding-right: 10px; 
	padding-top: 50px;
	display: flex; 
	flex-direction: column; 
	justify-content: center; 
	text-align: left;
}

.hashtags {
	font-family: "Quicksand";
	font-size: 14px;
	color: #FFD572;
}

.buttons{
	text-align: left;

}
.blocked-feature {
	background-color: #9FE2EE;
	font-family: "Quicksand";
	font-size: 15px;
	color: #181A21;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	border: none;
	border-radius: 20px;
}
.blocked-feature:hover {
		background-color: #395194;

}


.three-columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 90%;
  padding-left: 160px;
  padding-right: 30px;
}
.column {
  padding: 10px;
  max-width: 300px;
  text-align: left;
}
.column a {
	text-decoration: none;
}

.follow {
	background-color: #DB9900;
	font-family: "Quicksand";
	font-size: 15px;
	color: #fff;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	border: none;
	border-radius: 10px;
}
.follow:hover {
		background-color: #FFD572;
}

.profile-main {
	margin-left: 330px;
	text-align: left;
}
.profile-heading {
	font-family: "Quicksand";
	font-size:24px ;
	font-weight: bold;
	color: #80A4D4;
}
.profile-subheading {
	font-family: "Quicksand";
	font-size: 18px;
	color: #80A4D4;
}
.profile-subheading a {
	text-decoration: none;
	color: #80A4D4;
}
.profile-subheading a:hover {
	color: #DB9900;

}

.blocked-content {
	font-family: "Anton";
	font-size: 50px;
	color: #F7F7EF;
}
.blocked-descriptor {
	font-family: "Quicksand";
	max-width: 800px;
	font-size: 28px;
	color: #395194;
	text-align: left;
}
.note {
	font-family: "Quicksand";
	font-size: 10px;
	color: #DB9900;
	padding-top: 5px;
}

.payment {
	font-family: "Anton";
	font-size: 40px;
	color: #F7F7EF;
	background-color: #395194;
	padding: 20px;
	margin-left: 50px;
	border-radius: 20px;
}
.payment:hover {
		background-color: #DB9900;
}
.payment-pay {
	font-family: "Anton";
	font-size: 40px;
	color: #FFD572;
	background-color: #F1BE47;
	padding: 20px;
	margin-left: 50px;
	border-radius: 20px;
	border: none;
}


.message-received {
	max-width: 400px;
	box-sizing: border-box;
	background-color: #DB9900;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 15px;
	padding-top: 8px;
	border-radius: 10px;
	text-align: left;
	font-family: "Quicksand";
	font-size: 14px;
	color: #F7F7EF;
	margin-left: -400px;
}
.message-sent {
	max-width: 400px;
	box-sizing: border-box;
	background-color: #FFD572;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 15px;
	padding-top: 8px;
	border-radius: 10px;
	text-align: left;
	font-family: "Quicksand";
	font-size: 14px;
	color: #F7F7EF;
	margin-left: 600px;
}
.message-date {
	font-family: "Quicksand";
	font-size: 18px;
	color: #9FE2EE;

}



















