*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.navbar {
	background-color: #517F7A ;
	padding: 70px; 
	text-align: right; 
	margin-bottom: 20px; 
}


.navbar ul {
	list-style-type: none; 
}

.navbar li {
	display: inline; 
	margin: 30px;
}

.navbar a {
	color: white; 
	text-decoration: none; 
	font-size: 30px; 
}


.introduction {
	text-align: left;
	font-family: Quicksand;
	font-size: 20px;
	line-height: 28px;
	margin-left: 95px;
	max-width: 800px;
}

.hourtitle {
	text-align: left;
	margin-left: 95px;
}

.content {
	justify-content: left;
	display: flex;
	align-items: flex-start;
}


.days {
	text-align: left;
	font-family: Quicksand;
	font-size: 20px;
	line-height: 20px;
	margin-left: 95px;
	max-width: 800px;
}
.hours {
	text-align: left;
	font-family: Quicksand;
	font-size: 20px;
	line-height: 20px;
	margin-left: 95px;
	max-width: 800px;
}