*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


.navbar {
	margin-bottom: 20px; 
	background-color: #517F7A;
	dsiplay: flex;
	padding: 70px;
	text-align: right;
}

.navbar ul {
	list-style-type: none; 
}

.navbar li {
	display: inline; 
	margin: 30px;
	text-align: right;
}

.navbar a {
	color: white; 
	text-decoration: none; 
	font-size: 30px; 
}


.introduction {
	text-align: left;
	font-family: Quicksand;
	font-size: 20px;
	line-height: 28px;
	margin-left: 95px;
	max-width: 800px;
}

.hourtitle {
	text-align: left;
	margin-left: 95px;
}

.content {
	justify-content: left;
	display: flex;
	align-items: flex-start;
}


.days {
	text-align: left;
	font-family: Quicksand;
	font-size: 20px;
	line-height: 20px;
	margin-left: 95px;
	max-width: 800px;
}
.hours {
	text-align: left;
	font-family: Quicksand;
	font-size: 20px;
	line-height: 20px;
	margin-left: 95px;
	max-width: 800px;
}

.menu {
	text-align: left;
	font-family: Quicksand;
	margin-left: 95px;
	padding-left: 40px;
}

.menu ul {
	list-style-type: none;
}


.events {
		text-align: left;
	font-family: Quicksand;
	margin-left: 85px;

}




.footer {
	background-color: #517F7A;
	text-align: left;
}

.logo {
	margin: 20px;
}
.logo ul {
	list-style-type: none;
}
.logo li {
	display: flex;
}

.social {
	margin: 20px;
	justify-content: right;
}
.social ul {
	list-style-type: none;
}
.social li {
	display: inline;
}





















